/*botones navbar*/

.navbarbuttons__msn {
    background-color: rgb(157, 204, 243);
    border: none;
    color: white;
    height: 40px;
    width: 90px;
}

.navbarbuttons__sgr {
    background-color: rgb(252, 101, 101);
    border: none;
    color: white;
    height: 40px;
    width: 90px;
}